<!-- 

<!DOCTYPE html>

<html>


<body>

​
 -->
<h2>Report</h2>  <%= link_to('Logout', users_login_path, method: :delete) %>  


​

<table class="table table-bordered">

  <tr>

    <th>Name</th>

    <th>Email</th>

    <th>Phone_no</th>
    <th>Camp_count</th>
    <th>Promo_count</th>
    <th>Order_count</th>
    <th>Cancel</th>
    <th>Shipped</th>
    <th>Pending</th>
    <th>Unshipped</th>
    <th>Camp_send</th>
    <th>Camp_scheduled</th>
    <th>Promo_send</th>
    <th>Promo_scheduled</th>

  </tr>
  <tr>
<td>wrwrwr</td></tr>
</table>

​
